.formContainer {
  display       : flex;
  flex-direction: column;
}



.fullNameWrap {
  mat-form-field {
    &:first-child {
      margin-right: 16px;
    }
  }
}

.dialogBtns {
  display        : flex;
  justify-content: right;

  button {
    margin-left: 32px;
  }

}


.dialogWrap {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left    : -24px;
    top     : -42px;
    right   : -24px;
    width   : calc(100% + 48px);
  }
}
