.dialogBtns {
  display        : flex;
  justify-content: right;

  button {
    margin-left: 32px;
  }

}

.dialogWrap {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left    : -24px;
    top     : -43px;
    right   : -24px;
    width   : calc(100% + 48px);
  }
}
