table {
  border-collapse: collapse;
  width          : 80%;
}

th,
td {
  text-align: left;
  padding   : 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.addBtn {
  position: absolute;
  right   : 32px;
  bottom  : 64px
}
