<h2>Favourites</h2>
<h3 *ngIf="contacts.length < 1">No contacts in the list yet, to add new contact go to Contacts.
</h3>
<table *ngIf="contacts.length > 0">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  <ng-container *ngFor="let contact of contacts; index as i">
    <tr *ngIf="contact.isFavourite">
      <td>{{ contact.firstName}}</td>
      <td>{{ contact.lastName}}</td>
      <td>{{ contact.phoneNo | mask: '00000 0000000'}}</td>
      <td>{{ contact.email}}</td>
    </tr>
  </ng-container>
</table>

<button (click)="addContactsToFav()" mat-fab color="primary" matTooltipPosition="left" matTooltipHideDelay="2000"
  matTooltip="Add contacts to favourites" class="addBtn">
  <mat-icon>add</mat-icon>
</button>
