<h2>Contacts</h2>

<form class="search-form">
  <mat-form-field class="full-width" appearance="fill">
    <input matInput #query (keyup)="searchContact(query.value)" placeholder="Search by first or last name">
  </mat-form-field>
</form>

<h3 *ngIf="contacts.length < 1">No contacts in the list yet, to add new contact press the '+' button.
</h3>


<table *ngIf="contacts.length > 0" id="contacts">
  <tr>
    <th>Position</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th class="favRow">Favourite</th>
    <th>Options</th>
  </tr>
  <tr *ngFor="let contact of filteredContacts; index as i">
    <td>{{ i }}</td>
    <td>{{ contact.firstName}}</td>
    <td>{{ contact.lastName}}</td>
    <td>+40 &nbsp;{{ contact.phoneNo | mask: '000 000 000'}}</td>
    <td>{{ contact.email}}</td>
    <td class="favRow">
      <app-is-favourite class="favBtn" (click)="addToFavorites(contact)" [isFavourite]="contact.isFavourite">
      </app-is-favourite>

    </td>
    <td>
      <mat-icon class="editBtn" (click)="editContact(contact)">edit</mat-icon>
      <mat-icon class="deleteBtn" (click)="openDeleteDialog(contact)">delete</mat-icon>
    </td>
  </tr>
</table>

<button (click)="addContact()" mat-fab color="primary" matTooltipPosition="left" matTooltipHideDelay="2000"
  matTooltip="Add new Contact" class="addBtn">
  <mat-icon>add</mat-icon>
</button>
