table {
  width: 100%;
}

#customers {
  font-family    : Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}

#customers td,
#customers th {
  border : 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background-color: #ff4081;
  color           : white;
}

td:last-child {
  display        : flex;
  justify-content: space-around;
}


.deleteBtn,
.favBtn,
.editBtn:hover {
  cursor: pointer;
}

.addBtn {
  position: absolute;
  right   : 32px;
  bottom  : 64px
}
